<template>
  <div class="home">
    <JobFeed
        :job-listings="allJobs"
        :position-functions="allPositionFunctions"
    />
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import JobFeed from "@/components/JobFeed";
export default {
  name: 'HomeView',
  components: {JobFeed},
  mounted(){
    this.fetchPositionFunctions()
    this.fetchJobs({perPage:5})
  },
  computed:{
    ...mapGetters(['allPositionFunctions','allJobs'])

  },
  methods:{
    ...mapActions(['fetchPositionFunctions','fetchJobs'])
  }
}
</script>
