<template>
<div>
  <button id="dropdownButton" data-dropdown-toggle="dropdown" class="uppercase flex justify-between font-semibold text-sm focus:outline-none p-2" type="button">
    <span>Filter by Position </span>
    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
  </button>

  <!-- Dropdown menu -->
  <div id="dropdown" class="absolute hidden z-10 mt-4 h-60 overflow-auto w-66 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
    <ul class="py-1 " aria-labelledby="dropdownButton">
      <li class=" block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" v-for="position in positionFunctions" :key="position.id">
        <span><input type="checkbox" v-model="positions" :value="position.id"> {{ position.name }}</span>
        <ul v-if="position.children.length > 1" class="pl-3 mt-2">
          <li v-for="child in position.children" :key="child.id"><span><input type="checkbox" v-model="positions" :value="child.id"> {{ child.name }}</span></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</template>

<script>
export default {
  name: "FilterByPosition",
  props:{
    positionFunctions:{
      type:Array,
      default: () => []
    }
  },
  data(){
    return {
      positions: []
    }
  },
  watch:{
    positions(val){
      this.$emit("setPositions",val)
    }
  }
}
</script>

<style scoped>

</style>