<template>
  <div class="flex justify-between p-4">
    <FilterByPosition :position-functions="positionFunctions" @setPositions="updatePositions" />
    <FilterByPage @setPage="setPage" />
  </div>
</template>

<script>
import FilterByPosition from "@/components/FilterByPosition";
import FilterByPage from "@/components/FilterByPage";
export default {
  name: "Filters",
  components: {FilterByPage, FilterByPosition},
  props:{
    positionFunctions:{
      type:Array,
      default: () => []
    }
  },
  methods:{
    setPage(page){
      this.$emit("changePage",page)
    },
    updatePositions(posns){
      this.$emit('setPositions',posns)
    }
  }
}
</script>

<style scoped>

</style>