<template>
  <select v-model="chosenPage" @change="filterByPage" class="uppercase border-none focus:border-none bg-gray-100 font-semibold text-sm focus:outline-none text-gray-900 w-44 p-2.5">
    <option v-for="p in pageListings" :key="p.perPage" :value="p.perPage">{{ p.title }}</option>
  </select>
</template>

<script>
export default {
  name: "FilterByPage",
  data(){
    return {
      chosenPage: 5,
      pageListings:[
        {
          title: '5 Per page',
          perPage: 5
        },
        {
          title: '25 Per page',
          perPage: 25
        },
        {
          title: 'Display all',
          perPage: null
        }
      ]
    }
  },
  methods:{
    filterByPage(){
      this.$emit("setPage",this.chosenPage)
    }
  }

}
</script>

<style scoped>

</style>