<template>
  <div class="p-4 bg-white border shadow-md rounded-lg mx-4">
    <h2 class="font-bold text-xl">{{ job.title }}</h2>
    <span class="mr-1">{{ job.unit.name }} . {{ job.position_function.name_en }} . {{ formatDate(job.due_date) }}</span>
  </div>
</template>

<script>
export default {
  name: "JobCard",
  props:{
    jobData: Object
  },
  methods:{
    formatDate(date){
      let d = new Date(date);
      let options = { year: 'numeric', month: 'long', day: 'numeric' };
      return d.toLocaleDateString("en-UG", options)
    }
  },
  computed:{
    job(){
      return (this.jobData && this.jobData.job)? this.jobData.job:{}
    }
  }
}
</script>

<style scoped>

</style>