<template>
  <div class="bg-gray-100 pb-2">
    <div class="bg-white w-screen h-22 p-4 border-b shadow-b shadow-sm flex justify-between">
      <Logo />
    </div>
    <div class="mt-4 mx-auto container">
      <Filters @changePage="changePage" :position-functions="positionFunctions" @setPositions="changePositions"  />
      <div v-if="jobs.length !== 0" class="mt-2 flex flex-col gap-4 mb-2">
        <JobCard v-for="job in jobs" :key="job.id" :job-data="job"/>
      </div>
    </div>
  </div>
</template>

<script>

import Logo from "@/components/Logo";
import JobCard from "@/components/JobCard";
import Filters from "@/components/Filters";
import {mapGetters, mapActions} from "vuex"
export default {
  name: 'JobFeed',
  components: {Filters, JobCard, Logo},
  data(){
    return {
      jobs: [],
      positions:[],
      perPage: 5
    }
  },
  props:{
    jobListings: {
      type: Array,
      default: () => []
    },
    positionFunctions: {
      type: Array,
      default: () => []
    }
  },
  methods:{
    ...mapActions(['fetchJobs']),
    changePage(page){
      let positions = (this.positions !== [])?this.positions.join():null;
      this.perPage = page;
      this.fetchJobs({ perPage: page, positionFunctions: positions })
    },
    changePositions(positions){
      this.positions = positions
      let positionFunctions = (positions !== [])?positions.join():null
      this.fetchJobs({ perPage: this.perPage, positionFunctions: positionFunctions })
    }
  },
  watch:{
    allJobs(val){
      if(val){
        this.jobs = val;
      }
    },
    jobListings(val){
      this.jobs = val
    }
  },
  computed:{
    ...mapGetters(['allJobs']),
  }
}
</script>

<style scoped></style>
